# vi: ft=ruby :
# Luis Mondesi <lemsx1@gmail.com>
# 2011-04-08 16:43 EDT 
require "#{File.dirname(__FILE__)}/../lib/package.rb"
namespace :skeleton do |n|
    # variables
    package = Package::Core.new("skeleton","1.7.4.3")
    package.source_url = "http://www.example.org/skeleton/#{package.tar}"
    package.install_dir = "/opt/#{package.name}/#{package.version}"

    # tasks

    desc "installs #{package.name} to #{package.install_dir}"
    task :install => :build do |t|
        package.install
    end

    desc "build #{package.name}"
    task :build => :configure do |t|
        package.build
    end

    desc "configures #{package.name}"
    task :configure => :source do |t|
        package.configure
    end

    desc "unpacks source"
    task :source => [package.cache_file] do |t|
        package.source
    end

    desc "downloads #{package.tar}"
    file package.cache_file do |t|
        package.download
    end

    desc "symlinks #{package.install_dir}/bin/* to /usr/local/bin"
    task :symlinks do |t|
        package.symlinks "/usr/local/bin"
    end
end
